In [12]:
import pandas as pd
import pysam
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
# Load the bedMethyl file
df = pd.read_csv('/data/lvisser/modkit/outputs/bedmethyl/nb1_haplo/IMR14nov_R1.haplotagged.sorted/IMR14nov_R1.haplotagged.sorted_1_IMR14nov_R1.haplotagged.sorted_2_dmr_cgi_result.bed', sep='\t', header=None)
# Name the columns based on the bedMethyl format
df.columns = ['chrom', 'start', 'end', 'name', 'score', 'sample_a_counts', 'sample_a_total', 'sample_b_counts', 'sample_b_total', 'sample_a_fractions', 'sample_b_fractions']
print(df.shape)
df.head()

(25692, 11)

,chrom,start,end,name,score,sample_a_counts,sample_a_total,sample_b_counts,sample_b_total,sample_a_fractions,sample_b_fractions
0,chr1,28735,29737,CpG: 111,-0.298546,"h:1,m:4",741,"h:1,m:1",380,"h:0.13,m:0.54","h:0.26,m:0.26"
1,chr1,135124,135563,CpG: 30,0.000000,.,0,.,0,.,.
2,chr1,199251,200121,CpG: 104,0.041690,"h:2,m:1",281,"h:1,m:2",142,"h:0.71,m:0.36","h:0.70,m:1.41"
3,chr1,368792,370063,CpG: 99,0.000000,.,0,.,0,.,.
4,chr1,381172,382185,CpG: 84,0.000000,.,0,.,0,.,.